<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<integer>1</integer>
	<key>Extension Name</key>
	<string>Xendo Search</string>
	<key>Extension Identifier</key>
	<string>com.xendo.extension.xendo-search</string>
	<key>Extension Description</key>
	<string>Search Xendo for the selected text.</string>
	<key>Actions</key>
	<array>
		<dict>
			<key>URL</key>
			<string>http://xen.do/dashboard/?q={popclip text}</string>
			<key>Image File</key>
			<string>xendo-logo.png</string>
			<key>Title</key>
			<string>Xendo Search</string>
		</dict>
	</array>
</dict>
</plist>
